    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get start?</h2>
            <p class="callout__body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
              error at maxime alias dignissimos, odit a, aliquam vel quis nam quasi
              quae aut ea, cum porro nisi natus sit vitae.
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">GET STARTED</a>
      </div>
    </div>