<div style="width: 30%; padding: 30px;">
  <div class="card card--primary">
    <header class="card__header">Card title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
      repudiandae nisi pariatur ullam reprehenderit minus in cupiditate, ea
      aliquid quidem!
    </div>
  </div>
  
  <div style="padding: 10px;"></div>

  <div class="card  card--secondary">
      <header class="card__header">Card title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
        repudiandae nisi pariatur ullam reprehenderit minus in cupiditate, ea
        aliquid quidem!
      </div>
    </div>
</div>